name: Build & Deploy Java JAR to Azure App Service (TEST)

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'
        cache: maven

    - name: Build JAR
      run: mvn clean package -DskipTests

    - name: Verify JAR file
      run: ls -l target

    - name: Deploy JAR to Azure App Service (TEST slot)
      uses: azure/webapps-deploy@v2
      with:
        app-name: advertising-license-mohkw
        slot-name: advl-test
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_TEST }}
        package: target/database_service_project-0.0.7.jar
